---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { siteConfig } from '../config/siteConfig';
import '../global.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={siteConfig.description} />
    <meta name="keywords" content={siteConfig.keywords} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={siteConfig.title} />
    <meta property="og:description" content={siteConfig.description} />
    <meta property="og:image" content={siteConfig.ogImage} />
    <meta property="og:url" content={siteConfig.ogUrl} />
    <link rel="icon" type="image/png" href={siteConfig.favicon} />
    <title>{siteConfig.title}</title>
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
